# File Name: Capabilities.cfg
# File Version: 0.4.11
# Author: OpenAI
# Email: dave66samaa@gmail.com
# Creation Timestamp: 2026-04-07T11:02:18Z
# Last Update Timestamp: 2026-04-08T19:35:00Z
# Operating System Name: Liberation OS
# Purpose: Defines capability profiles and bootstrap assignments loaded from the ESP for Liberation OS.

# block <principal-type> <profile-name>
# grant <namespace> <name> <class> <flags>
# assign <principal-type> <principal-name> <profile-name>

block profile standard
grant ipc endpoint.send 2 0x00000009
grant ipc endpoint.receive 2 0x00000009
grant service lookup 2 0x00000009
grant process self.query 3 0x00000009
endblock

block profile administrator
grant ipc endpoint.send 2 0x00000009
grant ipc endpoint.receive 2 0x00000009
grant service lookup 2 0x00000009
grant service start 2 0x00000009
grant service stop 2 0x00000009
grant memory query 2 0x00000009
grant memory allocate 2 0x00000009
grant scheduler query 2 0x00000009
grant session login 2 0x00000009
endblock

block profile administrator.programmer
grant ipc endpoint.send 2 0x00000009
grant ipc endpoint.receive 2 0x00000009
grant service lookup 2 0x00000009
grant service start 2 0x00000009
grant service stop 2 0x00000009
grant memory query 2 0x00000009
grant memory allocate 2 0x00000009
grant scheduler query 2 0x00000009
grant module load 2 0x00000009
grant debug trace.read 2 0x00000009
grant debug trace.write 2 0x00000009
grant session login 2 0x00000009
endblock

block profile service.init
grant service start 2 0x00000009
grant service bootstrap.import 2 0x00000009
grant capability query 2 0x00000009
endblock

block profile service.capability_manager
grant ipc endpoint.send 2 0x00000009
grant ipc endpoint.receive 2 0x00000009
grant service lookup 2 0x00000009
grant service resolve 2 0x00000009
grant capability query 2 0x00000009
grant capability grant 2 0x00000005
grant capability revoke 2 0x00000005
grant capability suspend 2 0x00000005
grant capability restore 2 0x00000005
endblock

block profile service.memory_manager
grant memory query 2 0x00000009
grant memory allocate 2 0x00000009
grant capability query 2 0x00000009
endblock


block profile service.shell
grant ipc endpoint.send 2 0x00000009
grant ipc endpoint.receive 2 0x00000009
grant service lookup 2 0x00000009
grant service resolve 2 0x00000009
grant capability query 2 0x00000009
endblock

block profile service.login
grant capability query 2 0x00000009
endblock

block profile kernel.bootstrap
grant memory query 1 0x00000009
grant memory allocate 1 0x00000009
grant service lookup 1 0x00000009
endblock

assign user dave administrator.programmer
assign service capsmgr service.capability_manager
assign service memmgr service.memory_manager
assign service shell service.shell
assign service login service.login
assign task init service.init
assign task kernel kernel.bootstrap
